<div class="product-card">
<div class="product-card__media">
{{ 'product-1' | placeholder_svg_tag: 'product-card__image placeholder-svg' }}
</div>
<div class="product-card__info">
<div class="product-card__vendor">Brand Name</div>
<h3 class="product-card__title">Product Title</h3>
<div class="product-card__price">
<span>$99.00</span>
</div>
</div>
</div>