<div class="page-template">
<div class="container container--narrow">
<div class="page-header" data-animate="fade-up">
<h1>Activate Account</h1>
</div>
<div data-animate="fade-up" data-animate-delay="200">
<p class="text-muted text-center" style="margin-bottom: 2rem;">Create a password to activate your account.</p>
{% form 'activate_customer_password' %}
<div class="form-group">
<label class="form-label" for="activate-password">Password</label>
<input class="form-input" type="password" id="activate-password" name="customer[password]" required minlength="5">
</div>
<div class="form-group">
<label class="form-label" for="activate-confirm">Confirm Password</label>
<input class="form-input" type="password" id="activate-confirm" name="customer[password_confirmation]" required>
</div>
<button type="submit" class="btn btn--primary btn--full ripple-effect">Activate Account</button>
{% endform %}
</div>
</div>
</div>